<div class="row">
    <div class="col-lg-12">
    <section class="panel">
       <header class="panel-heading">
          Process Deposit
       </header>
       <div class="panel-body">
          <form class="form-horizontal " method="post" action="submit_{{type}}">
             <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                   <p>{{item[5]}}</p>
                   <input type="hidden" name="depuser" value="{{item[5]}}">
                </div>
             </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                   <p>{{item[6]}}</p>
                </div>
             </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">Current Balance</label>
                <div class="col-sm-10">
                   <p>{{item[7]}} Tokens</p>
                </div>
             </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">{{type}} Request Key</label>
                <div class="col-sm-10">
                   <p>{{item[3]}}</p>
                   <input type="hidden" name="depkey" value="{{item[3]}}">
                </div>
             </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">{{type}} Request</label>
                <div class="col-sm-10">
                   <p>{{item[0]}} --- {{item[2]}} -- {{item[1]}}</p>
                </div>
             </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">{{type}} Amount (in tokens)</label>
                <div class="col-sm-10">
                   <input type="text" name="deposit_amt" required="required" class="form-control round-input">
                </div>
             </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">Game Select</label>
                <div class="col-sm-10">
                    <select name="game_type" required="required" id="game_select">
                        <option value="rs3">RS3</option>
                        <option value="os">Old School</option>
                    </select>
                </div>
             </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">RS Account Name/Email</label>
                <div class="col-sm-10">
                   <input type="text" name="rs_name" required="required" class="form-control round-input">
                </div>
             </div>
              <div align="center">
                <button type="submit" class="btn btn-primary">Confirm and Submit {{type}}</button>
              </div>
          </form>
       </div>
    </section>
    </div>
 </div>
