<html><head>
  <title>Untitled Dice</title>
  <link href="{{ url_for('static', filename='css/dice-style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- header Nav Start -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="dice">
                  <img src="{{ url_for('static', filename='img/suh.png') }}" alt="Logo">
                </a>
              </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="dice">Dice</a></li>
                    <li><a href="cashier" id="cashier">Cashier</a></li>
                    {{loggedinli|safe}}
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>
        </div>
      </div>
    </header><!-- header close -->
  <div id="app">
    <div class="container" data-reactid=".0">
      <div class="navbar" data-reactid=".0.0">
        <div class="container-fluid" data-reactid=".0.0.0">
          <div class="navbar-header" data-reactid=".0.0.0.0"></p>
          </div>
        </div>
      </div>
      <div class="row" data-reactid=".0.1">
        <div class="col-sm-5" data-reactid=".0.1.0">
          <div data-reactid=".0.1.0.0">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6" data-reactid=".0.1.0.0.0.0.0.0">
                    <div class="form-group" data-reactid=".0.1.0.0.0.0.0.0.0">
                      <p class="lead" data-reactid=".0.1.0.0.0.0.0.0.0.0">
                        <strong data-reactid=".0.1.0.0.0.0.0.0.0.0.0">Wager:</strong>
                      </p>
                      <input value="1" type="text" class="form-control input-lg" style="border-bottom-left-radius:0px;border-bottom-right-radius:0px;" placeholder="Bits">
                      <div class="btn-group btn-group-justified" data-reactid=".0.1.0.0.0.0.0.0.0.2">
                        <div class="btn-group" data-reactid=".0.1.0.0.0.0.0.0.0.2.0">
                          <button class="btn btn-default btn-md" type="button" style="border-top-left-radius:0px;" id="halfbutton">
                            <span data-reactid=".0.1.0.0.0.0.0.0.0.2.0.0.0">1/2x
                            </span>
                          </button>
                        </div>
                        <div class="btn-group">
                          <button class="btn btn-default btn-md" type="button" id="doublebutton">
                            <span>2x </span>
                          </button>
                        </div>
                        <div class="btn-group">
                          <button class="btn btn-default btn-md" type="button" style="border-top-right-radius:0px;" id="maxbutton">Max</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6" data-reactid=".0.1.0.0.0.0.0.1">
                    <div class="form-group" data-reactid=".0.1.0.0.0.0.0.1.0">
                      <p class="lead" data-reactid=".0.1.0.0.0.0.0.1.0.0">
                        <strong data-reactid=".0.1.0.0.0.0.0.1.0.0.0">Multiplier:</strong>
                      </p>
                      <div class="input-group" data-reactid=".0.1.0.0.0.0.0.1.0.1">
                        <input type="text" value="2.00" class="form-control input-lg" data-reactid=".0.1.0.0.0.0.0.1.0.1.0">
                        <span class="input-group-addon" data-reactid=".0.1.0.0.0.0.0.1.0.1.1">x</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" data-reactid=".0.1.0.0.0.0.0.2">
                    <div class="col-xs-12" data-reactid=".0.1.0.0.0.0.0.2.0">
                      <hr data-reactid=".0.1.0.0.0.0.0.2.0.0">
                    </div>
                  </div>
                  <div data-reactid=".0.1.0.0.0.0.0.3">
                    <div class="col-sm-6" data-reactid=".0.1.0.0.0.0.0.3.0">
                      <div data-reactid=".0.1.0.0.0.0.0.3.0.0">
                        <span class="lead" style="font-weight:bold;" data-reactid=".0.1.0.0.0.0.0.3.0.0.0">Profit: </span>
                        <span class="lead" style="color:#39b54a;" data-reactid=".0.1.0.0.0.0.0.3.0.0.1">+1.00</span>
                      </div>
                    </div>
                    <div class="col-sm-6" data-reactid=".0.1.0.0.0.0.0.3.1">
                      <div data-reactid=".0.1.0.0.0.0.0.3.1.0">
                        <span class="lead" style="font-weight:bold;" data-reactid=".0.1.0.0.0.0.0.3.1.0.0">Target:</span>
                        <span class="lead" data-reactid=".0.1.0.0.0.0.0.3.1.0.1"> Over 54</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer clearfix" data-reactid=".0.1.0.0.0.1">
              <div data-reactid=".0.1.0.0.0.1.0"><div class="col-md-2" data-reactid=".0.1.0.0.0.1.0.0">

              </div>
                <div class="col-md-8" data-reactid=".0.1.0.0.0.1.0.1">
                  {% if loggedin == False %}
                  <a href="/index" class="btn btn-lg btn-block btn-success" data-reactid=".0.1.0.0.0.1.0.1.0">Login to Play</a>
                  {% endif %}
                  {% if loggedin == True %}
                  <div class="col-md-6">
                    <b><p id="balance_new">Balance: {{ balanceacc }}</p></b>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-lg btn-block btn-success">Roll</button>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            </div>
            <div class="text-center" data-reactid=".0.1.0.0.1">

            </div>
          </div>
        </div>
        <div class="col-sm-7" data-reactid=".0.1.1">
          <div id="chat-box" data-reactid=".0.1.1.0">
            <div class="panel panel-default" data-reactid=".0.1.1.0.0">
              <div class="panel-body" data-reactid=".0.1.1.0.0.0">
                <ul class="chat-list list-unstyled" data-reactid=".0.1.1.0.0.0.0">
                  <li data-reactid=".0.1.1.0.0.0.0.$4db24b59-b475-4b9a-849a-66af15bffc2f">
                    <span style="font-family:monospace;" data-reactid=".0.1.1.0.0.0.0.$4db24b59-b475-4b9a-849a-66af15bffc2f.0">[Chat]
                  </li>
                </ul>
              </div>
              <div class="panel-footer" data-reactid=".0.1.1.0.0.1">
                <div class="row" data-reactid=".0.1.1.0.0.1.0">
                  <div class="col-md-9" data-reactid=".0.1.1.0.0.1.0.0">
                    <input id="chat-input" class="form-control" type="text" value="" placeholder="Login to chat" disabled="" data-reactid=".0.1.1.0.0.1.0.0.0">
                  </div>
                  <div class="col-md-3" data-reactid=".0.1.1.0.0.1.0.1">
                    <button type="button" class="btn btn-default btn-block" disabled="" data-reactid=".0.1.1.0.0.1.0.1.0">Send</button>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-right text-muted" style="margin-top:-15px;" data-reactid=".0.1.1.0.1">
              <span data-reactid=".0.1.1.0.1.0">Users online: 0 </span>
              <button class="btn btn-default btn-xs" data-reactid=".0.1.1.0.1.1">Show</button>
            </p>
            <span data-reactid=".0.1.1.0.2"></span>
          </div>
        </div>
      </div>
      <div style="margin-top:15px;" data-reactid=".0.2">
        <ul class="nav nav-tabs" data-reactid=".0.2.0">
          <li class="active" data-reactid=".0.2.0.0">
            <a href="javascript:void(0)" data-reactid=".0.2.0.0.0">All Bets</a>
          </li>
          <span data-reactid=".0.2.0.1"></span>
          <li class="" data-reactid=".0.2.0.2">
            <a href="javascript:void(0)" data-reactid=".0.2.0.2.0">
              <span data-reactid=".0.2.0.2.0.0">Faucet </span>
            </a>
          </li>
        </ul>
      </div>
      <div data-reactid=".0.3">
        <table class="table" data-reactid=".0.3.0">
          <thead data-reactid=".0.3.0.0">
          <tr data-reactid=".0.3.0.0.0">
            <th data-reactid=".0.3.0.0.0.0">ID</th>
            <th data-reactid=".0.3.0.0.0.1">Time</th>
            <th data-reactid=".0.3.0.0.0.2">User</th>
            <th data-reactid=".0.3.0.0.0.3">Wager</th>
            <th class="text-right" data-reactid=".0.3.0.0.0.4">Target</th>
            <th data-reactid=".0.3.0.0.0.5">Outcome</th>
            <th style="padding-left:50px;" data-reactid=".0.3.0.0.0.6">Profit</th>
          </tr>
          </thead>
          <tbody data-reactid=".0.3.0.1">

          </tbody>
        </table>
      </div>
      <div class="text-center text-muted" style="margin-top:200px;" data-reactid=".0.4">

      </div>
    </div>
  </div>

</body></html>